
h1{
  color: #80d6ff;
  font-family: 'Playfair Display',sans-serif;
  font-weight: bold;
}
h2{
  font-family: 'Poppins', sans-serif;
  
}
p{
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
 color: #ea7362;
}
